#experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    .project_heading {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.8rem;
        font-weight: 600;
        color: #ffffff;
    }

    .project_wrapper {
        width: 500px;
        height: 300px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin: 12px 0;
        background-color: #ffffff05;

        .project_cover {
            width: 90%;



            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 10px;
            }
        }

        .project_header {
            position: absolute;
            top: 50px;
            right: 12%;
            color: #ffffff;
            max-width: 700px;

            h3 {
                font-size: 2.2rem;

            }

            span {
                font-size: 1.4rem;
                color: #e0e0e0;
            }
        }
    }

    .contact_button {
        margin-top: 8px;
        padding: 12px;
        border-radius: 20px;
        border: none;
        background-color: #b21eb2e6;
        color: #ffffff;
        min-width: 120px;
        font-weight: 600;
        position: absolute;
        cursor: pointer;
    }
}

.project_header {
    color: #ffffff;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (max-width: 1400px) {
    #experiences .project_wrapper {
        flex-direction: column;
        width: unset;
        height: auto;
        align-items: center;
        justify-content: center;

        .project_header {
            position: unset;
        }
    }
}


@media (max-width: 1090px) {
    .contact_button {
        top: 0 !important;
    }

    .project_header h3 {
        margin: 8px 0 !important;
        align-items: center;
        text-align: center;
        font-size: 1.2rem !important;
    }

    span {
        font-size: 1rem !important;
    }

    .project-item-left::after,
    .project-item-right::before {
        display: none !important;
    }

    .project_header {
        position: unset;
        margin: 4px 0;

    }
}



@media (max-width: 800px) {
    .project_heading {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
    }
}