#about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .section_left {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .circle_img {
            width: 500px;
            height: 500px;
            background-image: url('../../assets/Images/aboutMe.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .header_about {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 2.8rem;
                max-width: 120px;
                color: #ffffff;
            }

        }


    }

    .section_left::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 160px;
        height: 160px;
        background-image: url('../../assets/Images/waterBubble.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 4;
    }


    .section_right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .about-me-dec {
            color: #ffffff;
            font-size: 0.8rem;
            line-height: 2;
        }

        .contact_button {
            margin-top: 8px;
            padding: 12px;
            border-radius: 20px;
            border: none;
            background-color: #b21eb29e;
            color: #ffffff;
            min-width: 120px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

#about::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 100%;
    background-image: url("../../assets/Images/fillerImage.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    right: -5%;
    bottom: -30%;
}


@media (max-width: 1400px) {
    #about {
        flex-direction: column;

        .section_left {
            width: unset;
        }
    }

    #about::after {
        right: 0%;
        bottom: -30%;
    }
}


@media (max-width: 1090px) {
    .section_left .circle_img {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .circle_img {
        width: 300px !important;
        height: 300px !important;
        margin-top: 100px;
    }

    .header_about {
        top: -140px !important;
        left: 0;
        max-width: 100% !important;
    }

    .section_right {
        width: 100% !important;
        padding-right: 8px !important;
    }

    .about-me-dec::before {
        display: none;
    }
}