.customModal {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  display: flex;

  &:focus-visible {
    outline: none;
    border: none;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

.customWidth {
  max-width: 100% !important;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba($secondary-color, 0.5);
  // background-color: rgba($primary-color, 0.7);
  z-index: 99999;
}

.modalButton {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  height: 30px;
  padding: 0;
  // box-shadow: 0 0 5px 3px rgba($black, 0.2);
}



// new
.container {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    z-index: 12;
    min-width: 100px;
    min-height: 100px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px 0px #565656;


    .modal-container {
      position: relative;
      width: 100%;
      height: 100%;

      .close-button {
        background-color: #ffffff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -50px;
        right: -30px;
        border: none;
        box-shadow: 1px 0px 5px 0px #757575;
        cursor: pointer;
      }

      .modal-body {
        max-height: 75vh;
        overflow: hidden;
        overflow-y: auto;
      }
    }
  }

}

.gray {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #00000075;
  z-index: 10;
}

@media (max-width: 1090px) {
  .modal {
    width: 80vw;
  }
}